.debug-1 {
  height: 100px;
}

/* DEBUG */
:root {
  --bg-brand-blue: hsl(210deg 29% 24%);
  --bg-brand-green: hsl(168deg 76% 42%);
  --bg-black-trasp: rgba(0, 0, 0, 0.3);
}

/* BACKGROUND */

main section:nth-of-type(2n + 1) {
  background-color: var(--bg-brand-green);
  color: #fff;
}

header,
footer {
  background-color: var(--bg-brand-blue);
}

.dp-black-tr {
  background-color: var(--bg-black-trasp);
}
/* /BACKGROUND */

header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
@media screen and (min-width: 800px) {
  header a[href="#start-bootstrap"] {
    font-size: 2rem !important;
  }
  header {
    font-size: 1.5rem !important;
  }
}
.dp-star {
  font-size: 2rem;
  display: flex;

  justify-content: center;
  align-items: center;

  color: black;
}
.dp-star:before,
.dp-star:after {
  content: "";
  background-color: rgb(0, 0, 0);
  width: 20%;
  height: 3px;
  margin: 0 1rem;
}

.invert {
  filter: invert(1);
}

input:not(input[type="submit"]),
textarea {
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #999 !important;
  padding-left: 0 !important;
}

.dp-bg-brand {
  background-color: var(--bg-brand-green);
  color: #fff;
  text-transform: capitalize;
}
.dp-c-brand {
  color: var(--bg-brand-green);
}
.dp-icon-square {
  color: #fff;
  display: inline-block;
  height: 30px;
  width: 30px;
}
